* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #75B09C;
  width: 100%;
  text-align: center;
}

header h1 {
  color: #D8F793;
  padding: 20px;
}

main {
  margin-top: 100px;
  overflow: auto;
}

section {
  background-color: #A0CA92;
  width: 100%;
  overflow: auto;
}

.form {
  margin: auto;
  width: 80%;
  overflow: auto;
  overflow-x: hidden;
}

h2 {
  color: #5B4C27;
  background-color: #A0CA92;
  width: 110px;
  padding: 5px 0px 0px 15px;
}

section h2 {
  width: 100%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


div form {
  margin-top: 100px;
  float: left;
  width: 50%;
}



label {
  display: block;
  margin: 10px;
}

h3 {
  color: #5B4C27;
}

section + section {
  background-color: black;
  height: 200px;
  width: 100%;
}